<?xml version="1.0" encoding="utf-8"?>
<title>养鸽器</title>
<icon>icon.png</icon>
<packageName>com.ib4a31e39456d9a97</packageName>
<versionName>1.0</versionName>
<versionint>1</versionint>
<sdk>30</sdk>
<yuv>3</yuv>
<remark></remark>
<Permissions>android.permission.ACCESS_NETWORK_STATE
android.permission.VIBRATE
android.permission.INTERNET</Permissions>
<createTime>2024-09-06 01:27:44</createTime>
<upTime>2024-09-06 01:27:44</upTime>